<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>{{jenkins_main_email}}</adminAddress>
  <jenkinsUrl>{{jenkins_main_url}}</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>